$is-widescreen: "only screen and (min-aspect-ratio: 1/1)";

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

kbd {
  border: 1px solid #aaa;
  background-color: #eee;
  padding: 0.1em 0.25em;
}

@mixin mobile-half-size {
  font-size: 0.5em;
  @media #{$is-widescreen} {
    font-size: 1em;
  }
}

#about {
  position: fixed;
  right: 0px;
  bottom: 0px;
  padding: 0.5em;
  border-left: 1px solid black;
  border-top: 1px solid black;
  background-color: white;
  z-index: 99;
  @include mobile-half-size;
}

.container {
  padding: 1em;
}

.mode-start {
  text-align: center;

  .wtf {
    font-size: 50%;
  }

  .explanation {
    font-style: italics;
    max-width: 640px;
    margin: 1em auto;
  }

  .input-instruction {
    font-size: 1.5em;
    margin-top: 1em;
  }

  .select-groups {
    margin: 1em;
  }

  .select-group {
    margin: 0.25em;
  }

  #num-outputs {
    margin: 1em;
  }

  .entry-container {
    width: 80%;
    margin: 1em auto;
    display: block;
    height: 16em; 
    position: relative;
  }

  .entry-container button {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  #entry {
    width: 100%;
    height: 100%;
  }


  .error {
    color: red;
    font-face: bold;
    margin: 1em;
  }

  .attribution {
    text-align: left;
    width: 80%;
    margin: 1em auto;
    padding: 1em;
    background-color: #eee;
    border: 1px dotted #bbb;
  }
}

.mode-sort {
  #help {
    position: fixed;
    left: 0px;
    bottom: 0px;
    padding: 0.5em;
    border-right: 1px solid black;
    border-top: 1px solid black;
    background-color: white;
    z-index: 100;

    @include mobile-half-size;

    .only-widescreen {
      display: none;
      @media #{$is-widescreen} {
        display: inline;
      }
    }
  }

  .comparison {
    top: 1em;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 1px;
    position: absolute;

    @media #{$is-widescreen} {
      top: 2em;
    }
  }

  #info {
    position: absolute;
    top: 0em;
    left: 0em;
    right: 0em;

    height: 1em;
    padding: 0.5em;
    @include mobile-half-size;
    text-align: center;

    .label {
      font-weight: bold;
    }

    .data {
      margin-right: 0.5em;
    }

    @media #{$is-widescreen} {
      height: 2em;

      .data {
        margin-right: 2em;
      }
    }
  }

  .comparison-left-outer, .comparison-right-outer {
    z-index: 10; 
  }

  .comparison-left-overlay, .comparison-right-overlay {
    z-index: 11;
    cursor: pointer;
  }

  .comparison-left, .comparison-right {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 1px solid black;

    > img, > iframe {
      width: 100%;
      height: 100%;
      border: 0px;
      padding: 0px;
      margin: 0px;
    }

    > img {
      object-fit: contain;
    }

    > iframe {
      overflow: hidden;
    }

    > p.plain-text {
      margin: 1em;
    }
  }

  .comparison-left-outer, 
  .comparison-right-outer,
  .comparison-left-overlay,
  .comparison-right-overlay {
    position:absolute;
  }

  .comparison-left-outer, .comparison-left-overlay {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 50%;
  }

  .comparison-right-outer, .comparison-right-overlay {
    top: 50%;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  @media #{$is-widescreen} {
    .comparison-left-outer, .comparison-left-overlay {
      top: 0px;
      left: 0px;
      right: 50%;
      bottom: 0px;
    }

    .comparison-right-outer, .comparison-right-overlay {
      top: 0px;
      left: 50%;
      right: 0px;
      bottom: 0px;
    }
  }
}
